@model DotNet._05.TP4.Pizza.Web.Models.PizzaFormViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PizzaViewModel</h4>
    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pate.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientsDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredientsDisplay)
        </dd>
    </dl>*@
    @Html.Partial("_Details")
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
